/.idea/
/bitrix/*
!/bitrix/.settings.php
/images/
/upload/
/about/
/store/
/include/
/search/
/auth/
/login/
/personal/
/desktop_app/
/eshop_app/
/local/test/
/local/test2/
/local/templates/new_template/
*.tar
*.tar.gz
*.tmp
*.bak
*.log
*log*.txt
.lock
