/.idea/
/bitrix/*
/images/
/upload/
/about/
/store/
/include/
/search/
/auth/
/login/
/personal/
/desktop_app/
/eshop_app/
/catalog/
/news/
/local/test/
/local/test2/
/local/templates/new_template/
/.bottom.menu.php
/.left.menu.php
/.left.menu_ext.php
/.top.menu.php
/.section.php
/sect_bottom.php
/sect_sidebar.php
*.tar
*.tar.gz
*.tmp
*.bak
*.log
*log*.txt
.lock
